{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style9.css' %}">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>indian cricketers</h1>
  </header>

  <nav>
    <a href="">home</a>
    <a href="">dhoni</a>
    <a href="">virat</a>
    <a href="">rohit</a>
    <a href="">rahul</a>
  </nav>

  <aside>
    <a href="">pandya</a>
    <a href="">jadeja</a>
    <a href="">ashwin</a>
    <a href="">bumrah</a>
    <a href="">siraj</a>
    <a href="">iyer</a>
  </aside>

  <section>
    
    <h1>content</h1>

    <article>

      <h2>rohit</h2>

      <p>This South Indian actors list includes all the biggest actors to come from South India and appear in movies, television, and other forms of entertainment. Names of top South Indian actors include Kamal Haasan, Ram, and Joseph Vijay. These famous South Indian actors are well known within the region they emerged and in circles of people who love South Indian cinema around the world.</p>
      <button>More</button>

    </article>

    <article>

      <h2>rohit</h2>

      <p>This South Indian actors list includes all the biggest actors to come from South India and appear in movies, television, and other forms of entertainment. Names of top South Indian actors include Kamal Haasan, Ram, and Joseph Vijay. These famous South Indian actors are well known within the region they emerged and in circles of people who love South Indian cinema around the world.</p>

      <button>More</button>

    </article>
  </section>

  <footer>
    <h2>Copyright:&copy;2023</h2>
    <small>
      <center>
        <a href="{% url 'connect2:page8' %}">Go back to page 8.</a>
        <br>
        <a href="{% url 'connect2:page10' %}">Go to page 10.</a>
      </center>
    </small>
  </footer>
  
</body>
</html>