{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style6.css' %}">
  <title>Document</title>
</head>
<body>
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <center>
    <a href="{% url 'page5' %}">Go back to page 5.</a>
    <br>
    <a href="{% url 'connect2:page7' %}">Go to page 7.</a>
  </center>
</body>
</html>